@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
}
:root {
  --red-color: #7f0909;
  --yellow-color: #ffc500;
  --blue-color: #000a90;
  --green-color: #0d6217;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: #333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.active {
  border-bottom: 2px solid white;
}
.link-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  cursor: pointer;
}
.link-list a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
}
.hero {
  background-image: url("/hero.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hero h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}
.hero p {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}
.to-top {
  position: fixed;
  top: 90vh;
  right: 10vh;
  background-color: #333;
  color: white;
  padding: 5px 30px;
  border: none;
}
.to-top:hover {
  transform: scale(1.2);
}
.landing-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  transition: all 3s ease;
  text-align: center;
  padding: 30px;
}
.aply {
  background-color: transparent;
  margin-top: 10px;

  border-radius: 20px;
  padding: 10px 40px;
}
.red {
  color: var(--red-color);
  border: 1px solid var(--red-color);
}
.yellow {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
}
.blue {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.green {
  color: var(--green-color);
  border: 1px solid var(--green-color);
}
#griffindor {
  background-color: var(--red-color);
  color: var(--red-color);
}
#hufflepuff {
  background-color: var(--yellow-color);
  color: var(--yellow-color);
}
#ravenclaw {
  background-color: var(--blue-color);
  color: var(--blue-color);
}
#slytherin {
  background-color: var(--green-color);
  color: var(--green-color);
}

#header {
  height: 100vh;
  background-color: brown;
  color: brown;
}
#griffindor:hover,
#hufflepuff:hover,
#ravenclaw:hover,
#slytherin:hover,
#header {
  background-color: white;
}

@media only screen and (max-width: 800px) {
  .link-list a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .link-list a {
    font-size: 10px;
  }
}
