* {
  box-sizing: border-box;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: #333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.link-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  cursor: pointer;
}
.link-list a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
}
.hero {
  background-image: url("/hero.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  color: white;
  font-size: 4em;
}
.hero p {
  color: white;
  font-size: 3em;
}
.landing-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  transition: all 3s ease;
  text-align: center;
  padding: 30px;
}
.aply {
  border: 1px solid #7f0909;
  background-color: transparent;
  color: #7f0909;
  border-radius: 20px;
  padding: 10px 40px;
}
#griffindor {
  background-color: #7f0909;
  color: #7f0909;
}
#hufflepuff {
  background-color: #eee117;
  color: #eee117;
}
#ravenclaw {
  background-color: #000a90;
  color: #000a90;
}
#slytherin {
  background-color: #0d6217;
  color: #0d6217;
}

#header {
  height: 100vh;
  background-color: brown;
  color: brown;
}
#griffindor:hover,
#hufflepuff:hover,
#ravenclaw:hover,
#slytherin:hover,
#header {
  background-color: white;
}
